* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(-45deg,  #344c83, #2b3f6e, #54ab54, #43846d, #4b9464, #4c9c5c);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: visible;
}

body::-webkit-scrollbar {
    display: none;
}